* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/img/bg.jfi');
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

#head {
    height: 82px;
    width: 83px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.top_space {
    margin-top: 20%;
}

.container h1 {
    text-align: center;
    margin-bottom: 28px;
    font-size: 63px;
    font-weight: normal;
    color: rgb(207, 205, 205);
    font-family: sans-serif;
}

.container h2 {
    text-align: center;
    margin-bottom: 21px;
    font-size: 26px;
    font-weight: normal;
    color: rgb(190, 188, 188);
}